*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: rgb(28, 27, 27);
    padding-top: 0.5%;
}
.bodyone{
    display: flex;
    height: 80vh;
    background-color: black;
    
}
.body-1{
    margin-top: 18%;
    margin-left: 9%;
    color: white;
}
.body-1 h2{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 35px;
}
.body-1 p{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
.bodyone .body-1-video video{
    margin-left: 38%;
    margin-top: 18%;
}
.bodyone .body-1-video .tv{
    position: absolute;
    margin-left: 108px;
}
.bodytwo{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
}
.body-2{
    padding-top: 10%;
    padding-left: 8%;
    background-color: black;
    line-height: 24px;
    padding-right: 13%;
}
.body-2-video img{
    width: 497px;
    padding-top: 2%;
    margin-left: 30%;
}
.body-2 h1{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 25px;
}
.body-2 p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.body-2-video-det .img img{
    width: 53px;
    margin-left: -119%;
}
.body-2-video-det{ 
    display: flex;
    gap: 13%;
    margin-top: -10%;
    margin-left: 21%;
    border: 2px solid gray;
    border-radius: 24px;
    position: absolute;
    background: black;
    padding-right: 3%;
    padding-left: 6%;
    padding-top: 1%;
    padding-bottom: 1%;

}
.body-2-video-det .desc{
    margin-left: -44%;
    margin-top: 11%;
}
.body-2-video-det .desc .down{
    color: blue;
    line-height: 22px;
    font-size: 14px;
}
.body-2-video-det .desc .first{
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.body-3{
    color: white;
    text-align: center;
    align-items: center;
    font-family: 'Helvetica Neue', sans-serif;
    padding-top: 13%;
    padding-bottom: 2%;
    background-color: black;
    line-height: 36px;
    height: 70vh;
    margin-top: 6px;
}
.body-3 h1{
    font-size: 44px;
}
.body-4 {
    margin-top: 6px;
}
.body-4-img .ani img{
    width: 500px;
    margin-top: 12%;
}
.body-5{
    color: white;
    background-color: black;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    align-items: center;
    margin-top: 6px;
    padding-top: 10%;
    height: 70vh;
}
.body-5 .body-inner{
    margin-top: 10px;
    width: 6ovh;
    background-color: gray;
    padding: 6px;
    margin-left: 29%;
    margin-right: 29%;
}
.input{
    text-align: center;
    align-items: center;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    height: 40vh;
}
.input h4{
    margin-top: 5%;
    margin-bottom: 2%;
}
.input input{
    width: 405px;
    height: 50px;
    margin-top: -2%;
    border: 1px solid rgb(100, 95, 95);
    padding-left: 25px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
}
.input input::placeholder {
    color: #434242; /* Set your desired color for the placeholder text */
    font-family: 'Roboto', sans-serif; 
}
.input button{
    padding: 16px;
    margin-left: 2px;
    background-color: red;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif; 
}
.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo img{
    width: 100px;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }